@font-face {
    font-family: 'FZJuZhenXinFangS';
    src: url('https://cdn.jsdelivr.net/gh/okaykai/CDN/font/FZJuZhenXinFangS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}