@font-face {
    font-family: 'HYShuFang 75W';
    src: url('https://cdn.jsdelivr.net/gh/okaykai/CDN/font/HYShuFang-75W.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

