@font-face {
    font-family: 'Inconsolata';
    src: url('https://cdn.jsdelivr.net/gh/okaykai/CDN/font/Inconsolata-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

